@model DeckBuilderPro.Entity.CollectionCard

<div class="row">
    <div class="span3">
        @Html.DisplayFor(model => model.Card.Name)
    </div>
    <div class="span2">
        @Html.DisplayFor(model => model.Card.CardIdentifier)
    </div>
    <div class="span2">
        @Html.DisplayNameFor(model => model.CardCount) @Html.DisplayFor(model => model.CardCount)
    </div>
    <div class="span2">
        @Html.DisplayNameFor(model => model.CardsInDecks) @Html.DisplayFor(model => model.CardsInDecks)
    </div>
</div>
