@model DeckBuilderPro.ViewModels.CollectionViewModel
@{
    ViewBag.Title = "ListCollection";
    var lastCardType = "";
}
<h2>@Html.DisplayFor(model => model.Name) - List Collection(@Model.CardsInCollection.Sum(c => c.CardCount))</h2>
<fieldset>
    <legend>DeckViewModel</legend>
    @foreach (var deckCard in Model.CardsInCollection.OrderBy(m => m.Card.CardType.Name).ThenBy(m => m.Card.Name))
    { 
        if (lastCardType != deckCard.Card.CardType.Name)
        {
            @Html.Raw("<hr />" + deckCard.Card.CardType.Name + "<hr />");
            lastCardType = deckCard.Card.CardType.Name;
        }
        
        @Html.Partial("_CollectionCard", deckCard);
    }
</fieldset>
<br />
<br />
<div class="pull-right">@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })</div>
<br />

