@model DeckBuilderPro.ViewModels.CollectionViewModel
@{
    ViewBag.Title = "ListCollection";
    var lastCardType = "";
}
<h2>@Html.DisplayFor(model => model.Name) - List Collection(@Model.CardsInCollection.Sum(c => c.CardCount))</h2>
<fieldset>
    <legend>DeckViewModel</legend>
    @foreach (var deckCard in Model.CardsInCollection.OrderBy(m => m.Card.CardType.Name).ThenBy(m => m.Card.Name))
    {
        if (lastCardType != deckCard.Card.CardType.Name)
        {
            var count = Model.CardsInCollection.Where(c => c.Card.CardType.Name == deckCard.Card.CardType.Name).Sum(c => c.CardCount);
            @Html.Raw("<hr /><h4>" + deckCard.Card.CardType.Name + "<div class='pull-right'>" + count + "</div></h6>" + "<hr />");
                                                                                                                                 lastCardType = deckCard.Card.CardType.Name;
        }


        @Html.Partial("_CollectionCard", deckCard);
    }
</fieldset>
<br />
<br />
<div class="pull-right">@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })</div>
<br />

